body {
	margin: 0px;
	font: Arial;
}

h1 {
	color:#0264d3;
	font-size:24px;
}

h2 {
	color:#525252;
	font-size:20px;
}

h3 {
	color:#525252;
	font-size:18px;
	line-height:40%;
}

h4 {
	color:#525252;
	font-size:12px;
}

tr:nth-child(even) {
	background-color:#f7f7f7;
	border-top:1px solid #d9d9d9;
	border-bottom:1px solid #d9d9d9;
}

tr:nth-child(odd) {
	
}

#footerBar {
	position: absolute;
	bottom:0px; /* negative value of footer height */
	height: 50px;
	background-color: #242424;
	vertical-align: middle;
	min-width: 800px;
	width: inherit;
}

#headerBar {
	position:absolute;
	width:inherit;
	height:110px;
	background-color:#eaeaea;
	min-width:800px;
}

#titleArea {
	text-align:right;
}

.viewTitle {
	margin-left:auto;
	margin-right:30px;
}

#menu {
	width:230px;
	position:absolute;
	top:100px;
	left:15px;
}

#menuArrow {
	width:0px;
	height:0px;
	border-bottom:20px solid #2d2d2d;
	border-left:20px solid transparent;
	border-right:20px solid transparent;
	margin-left:27px;
}

#menuTopOffset {
	height:9px;
	background-color:#2d2d2d;
	box-shadow:0px 3px 3px #AAAAAA;
}

.screen {
	position:inherit;
	background-color:#FAFAFA;
	height:100%;
	padding-top:110px;
	padding-bottom:50px;
	text-align:center;
	vertical-align:middle;
}

.menuOption {
	padding:10px;
	height:50px;
	background-color:#2d2d2d;
	box-shadow:0px 3px 3px #AAAAAA;
	color:#bfbfbf;
	font-size:18px;
	line-height:94%;
}

.menuAltText {
	font-size:14px;
	color:#5b5b5b;
}

.menuOption:nth-child(odd) {
	background-color:#242424;
}

.menuOption:nth-child(even) {
	background-color:#2d2d2d;
}

.menuOption:hover {
	background-color:#8cc540;
	cursor:pointer;
	color:white;
}

.menuOption:hover .menuAltText {
	color:#d5ff9e;
}

.menuOption:active {
	background-color:#7cb530;
	cursor:pointer;
}


.footerBtn {
	background: transparent;
	border: 0px;
	color: #4e8dca;
	font-size: 16px;
	height: 100%;
	text-align: left;
	outline: none;
}

.footerBtn:hover {
	background-color: #343434;
	outline: none;
}

.footerBtn:active {
	background-color: #141414;
	outline: none;
}

.fullHeight {
	height: 100%;
}

.fullWidth {
	width: 100%;
}

.full {
	height: 100%;
	width: 100%;
}

.condense {
	margin: 0px;
	border-spacing: 0px;
	padding: 0px;
}

.titleSprite {
	background-image: url(../imgs/sprites.png);
	height: 35px;
	width: 36px;
	margin-right:15px;
}

.cardSprite {
	background-image: url(../imgs/sprites.png);
	height: 28px;
	width: 22px;
	margin-right:15px;
}

#titleHowSprite {
	background-position: -0px -210px;
}

#titleNewsSprite {
	background-position: -36px -210px;
}

#titleInspirationSprite {
	background-position: -72px -210px;
}

#cardSelectSprite {
	background-position: -28px -246px;
}

#cardEditSprite {
	background-position: -0px -246px;
}

#cardThanksSprite {
	background-position: -56px -246px;
}

.menuSprite {
	background-image: url(../imgs/sprites.png);
	height: 32px;
	width: 32px;
	margin-right:15px;
}

#menuDraftSprite {
	background-position: -0px -35px;
}

#menuInspirationSprite {
	background-position: -32px -35px;
}

#menuHowSprite {
	background-position: -64px -35px;
}

#menuSentSprite {
	background-position: -0px -67px;
}

#menuFavoritesSprite {
	background-position: -32px -67px;
}

#menuSelectSprite {
	background-position: -64px -67px;
}

.footerSprite {
	background-image: url(../imgs/sprites.png);
	height: 35px;
	width: 36px;
	margin-bottom: 3px;
	margin-right: 5px;
}

.inspirationSprite {
	
}

.howDoesItWorkSprite {
	background-position: -36px 0px;
}

.newsFeedSprite {
	background-position: -72px 0px;
}

.logoSprite {
	background-image: url(../imgs/sprites.png);
	background-position: 0px -120px;
	height: 90px;
	width: 99px;
	margin-right:25px;
}

.logoSprite:hover {
	background-position: 0px -268px;
	cursor:pointer;
}

.logoSprite:active {
	background-position: 0px -358px;
}

.splashLink {
	outline: none;
}

.newsRowImg {
	width:75px;
	height:76px;
}

.newsRowText {
	text-align:left;
	color:#666666;
	font-size:14px;
}

.newsRowCard {
	width:110px;
}

.newsTime {
	color:#999999;
	font-size:12px;
}

.flex {
	display:flex;
}

.center {
	margin-left:auto;
	margin-right:auto;
}

.middle {
	margin-top:auto;
	margin-bottom:auto;
}

.hidden {
	display:none;
}

/* Carousel base class */
    .carousel {
      margin-bottom: 60px;
      display:flex;
    }

    .carousel .container {
      position: relative;
      z-index: 9;
      display:flex;
    }

    .carousel-control {
      height: 0px;
      margin-top: 0;
      font-size: 120px;
      text-shadow: 0 1px 1px rgba(0,0,0,.6);
      background-color: transparent;
      border: 0;
      z-index: 10;
      padding:1;
      padding-top: 110px;
    }

    .carousel .item {
      height: 440px;
    }
    .carousel img {
      position: relative;
      top: 0;
      left: 0;
      min-width: 50%;
      height: 100%;
      margin-left:auto;
      margin-right:auto;
    }
    
    .carousel-control.right {
    	background-image:none;
    	filter:none;	
    }
    
    .carousel-control.left {
    	background-image:none;
    	filter:none;
    }

    .carousel-caption {
      background-color: transparent;
      position: static;
      max-width: 550px;
      margin-top: auto;
      margin-bottom:auto;
    }
    
    
    .carousel-caption h1,
    .carousel-caption .lead {
      margin: 0;
      line-height: 1.25;
      color: #fff;
      text-shadow: 0 1px 1px rgba(0,0,0,.4);
    }
    
    .carousel-dot {
      display:inline-flex;
      border-radius:5px;
      height:10px;
      width:10px;
      background-color:#b7b7b7;
    }
    
    .carousel-dot.hl {
      background-color:#0162d3;
    }