<!DOCTYPE html>
<html class="full">
<head>
<title>StoryLine</title>
<!-- CSS IMPORTS -->
<link rel="stylesheet"
  href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
<link rel="stylesheet" href="css/storyboard.css">

<!-- META TAGS -->
<meta name="viewport"
  content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

<!-- JAVASCRIPT IMPORTS -->
<script type="text/javascript"
  src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.1/angular.min.js"></script>
<script type="text/javascript"
  src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
<script type="text/javascript"
  src="http://code.angularjs.org/1.2.0rc1/angular-route.js"></script>
<script
  src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
<script src="js/storyboard.js"></script>

</head>
<body class="full">
  <div id="StoryBoard" ng-app="StoryBoard"
    style="width:100%;height:100%;min-height:600px;min-width:800px;">

    <header id="headerBar">
      <span class="col-xs-7 fullHeight flex">
        <img class="footerSprite logoSprite middle" 
          src="imgs/clear.png" ng-click="toggleMenu();">
        <h1 class="middle">a virtual pat on the back</h1>
      </span>
      <span id="titleArea" class="col-xs-5 fullHeight flex">
        <div id="titleDiv" class="titleArea fullHeight flex viewTitle">
          <img id="titleMainSprite" class="titleSprite middle" src="imgs/clear.png">
          <h2 id="titleLabel" class="middle">News Feed</h2>
        </div>
      </span>
    </header>
    
    <ng-view></ng-view>

    <div id="menu">
      <div id="menuArrow"></div>
      <div id="menuTopOffset" class="container-fluid"></div>
      <div class="container-fluid menuOption flex" ng-click="changeView('Select');">
        <img id="menuSelectSprite" class="menuSprite middle" src="imgs/clear.png">
        <div>
          Select a Card<br> <span class="menuAltText">Lorem
            ipsum dolo...</span>
        </div>
      </div>
      <div class="container-fluid menuOption flex" ng-click="changeView('Sent');">
        <img id="menuSentSprite" class="menuSprite middle" src="imgs/clear.png">
        <div>
          Sent Cards<br> <span class="menuAltText">Lorem
            ipsum dolo...</span>
        </div>
      </div>
      <div class="container-fluid menuOption flex" ng-click="changeView('Favorites');">
        <img id="menuFavoritesSprite" class="menuSprite favoritesSprite middle"
          src="imgs/clear.png">
        <div>
          Favorites<br> <span class="menuAltText">Lorem
            ipsum dolo...</span>
        </div>
      </div>
      <div class="container-fluid menuOption flex" ng-click="changeView('How');">
        <img id="menuHowSprite" class="menuSprite middle" src="imgs/clear.png">
        <div>
          How it Works<br> <span class="menuAltText">Lorem
            ipsum dolo...</span>
        </div>
      </div>
      <div class="container-fluid menuOption flex" ng-click="changeView('Inspiration');">
        <img id="menuInspirationSprite" class="menuSprite middle"
          src="imgs/clear.png">
        <div>
          Inspiration Gallery<br> <span class="menuAltText">Lorem
            ipsum dolo...</span>
        </div>
      </div>
      <div class="container-fluid menuOption flex" ng-click="changeView('Drafts');">
        <img id="menuDraftSprite" class="menuSprite middle" src="imgs/clear.png">
        <div>
          Drafts<br> <span class="menuAltText">Lorem ipsum
            dolo...</span>
        </div>
      </div>
    </div>

    <footer id="footerBar">
      <span class="col-xs-9 fullHeight" style="padding-left: 7px;">
        <button class="footerBtn" ng-click="changeView('Inspiration');">
          <img class="footerSprite inspirationSprite"
            src="imgs/clear.png"> Need Inspiration?
        </button>
        <button class="footerBtn" ng-click="changeView('How');">
          <img class="footerSprite howDoesItWorkSprite"
            src="imgs/clear.png"> How Does It Work
        </button>
      </span> <span class="col-xs-3 fullHeight" style="text-align: right;">
        <button class="footerBtn" ng-click="changeView('News');">
          <img class="footerSprite newsFeedSprite" src="imgs/clear.png">
          News Feed
        </button>
      </span>
    </footer>

  </div>
</body>
</html>