
<div id="howScreen" class="fullWidth flex screen"
  ng-controller="howScreenCtrl">
  <div class="center middle">

    <!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide">
      <div class="carousel-inner">
        <div class="item active">
          <div class="container">
            <div class="fullWidth" style="text-align: center;">
              <h3>Select a Post Card Design</h3>
              <h4>Lorem ipsum dolor sit amet conseqtet ur
                adispicing elit</h4>
            </div>
          </div>
          <img src="imgs/how1.png" alt="">
          <div class="container">
            <div class="fullWidth">
              <br>
              <div class="carousel-dot hl"></div>
              <div class="carousel-dot"></div>
              <div class="carousel-dot"></div>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="container">
            <div class="fullWidth" style="text-align: center;">
              <h3>Customize Your Card</h3>
              <h4>Lorem ipsum dolor sit amet conseqtet ur
                adispicing elit</h4>
            </div>
          </div>
          <img src="imgs/how2.png" alt="">
          <div class="container">
            <div class="fullWidth">
              <br>
              <div class="carousel-dot"></div>
              <div class="carousel-dot hl"></div>
              <div class="carousel-dot"></div>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="container">
            <div class="fullWidth" style="text-align: center;">
              <h3>Send the Love</h3>
              <h4>Lorem ipsum dolor sit amet conseqtet ur
                adispicing elit</h4>
            </div>
          </div>
          <img src="imgs/how3.png" alt="">
          <div class="container">
            <div class="fullWidth">
              <br>
              <div class="carousel-dot"></div>
              <div class="carousel-dot"></div>
              <div class="carousel-dot hl"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- /.carousel -->

  </div>
</div>