<div class="fullWidth flex screen" ng-controller="newsScreenCtrl" style="">
  <div class="full" style="overflow-y:scroll">
  <table class="container-fluid fullWidth">
    <tr ng-repeat="event in newsFeed">
      <td class="newsRowImg" style=>
        <img src="{{ event.picture }}">
      </td>
      <td class="newsRowText">
        {{ event.from }} has made {{ currUser }}'s Day<br>
        <span class="newsTime">{{ event.time }}</span>
      </td>
      <td class="newsRowCard">
        <img src="{{ event.card }}">
      </td>
    </tr>
  </table>
  </div>
</div>