<div ng-controller="splashScreenCtrl" class="full">
  <img id="splashImg" src='imgs/splashpage.png' class="full" alt=''
    usemap="#splashPage" />
  <map name="splashPage">
    <area id="youJustMadeMyDayButton" class="splashLink" shape="rect"
      href="#Main"
      coords="{{ splashScreenCtrl.scaleX( youJustMadeMyDay.x1 ) }},
        {{ splashScreenCtrl.scaleY( youJustMadeMyDay.y1 ) }},
        {{ splashScreenCtrl.scaleX( youJustMadeMyDay.x2 ) }},
        {{ splashScreenCtrl.scaleY( youJustMadeMyDay.y2 ) }}">
    <area id="takeATourButton" class="splashLink" shape="rect"
      href="#Tour"
      coords="{{ splashScreenCtrl.scaleX( takeATour.x1 ) }},
        {{ splashScreenCtrl.scaleY( takeATour.y1 ) }},
        {{ splashScreenCtrl.scaleX( takeATour.x2 ) }},
        {{ splashScreenCtrl.scaleY( takeATour.y2 ) }}">
    <area id="shareTheLoveButton" class="splashLink" shape="rect"
      href="#Select"
      coords="{{ splashScreenCtrl.scaleX( shareTheLove.x1 ) }},
        {{ splashScreenCtrl.scaleY( shareTheLove.y1 ) }},
        {{ splashScreenCtrl.scaleX( shareTheLove.x2 ) }},
        {{ splashScreenCtrl.scaleY( shareTheLove.y2 ) }}">
  </map>
</div>
